---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Kingson Wu. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 4em;
		background: var(--bg);
		border-top: 1px solid var(--border);
		color: var(--muted);
		text-align: center;
		font-size: 13px;
	}
</style>
